/*
* Printing
*/
@media print {
	@page {
		size: portrait;
	}
}

/*
* Order Page
*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div.order {
	text-align: centre;
	width: 100%;
}

.break {
	page-break-before: always;
}

table {
	margin: 0 auto;
	text-align: left;
	border: none;
}

table td, table th {
	padding: 1px 5px;
}

/*
* Header
*/
div.header {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 10pt;
}

img {
	vertical-align: middle;
	height: 40px;
	display: inline;
}

h1 {
	font-size: 20pt;
	vertical-align: middle;
	display: inline;
}

h1 span {
	color: gray;
	font-size: 20pt;
	vertical-align: middle;
	border: thin solid lightgray;
}

/*
* Customer Details
*/
table.customer {
	font-size: 11pt;
	margin-bottom: 10pt;
}

table.customer td.detail, table.customer td.price {
	border-color: lightgray;
	border-style: solid;
}

table.customer td.label {
	color: gray;
}

table.customer td.detail {
	border-width: thin;
}

table.customer td.price {
	border-width: medium;
	font-weight: bold;
}

/*
* Plant Details
*/
table.plants td, table.plants th {
	font-size: 14pt;
}

table.plants td {
	color: lightgray;
}

table.plants th {
	color: black;
}

table.plants td, table.plants th {
	border-color: lightgray;
	border-width: thin;
	border-style: solid;
}

table.plants tr.ordered td {
	color: black;
}

table.plants tr.ordered td.amount {
	color: black;
	font-weight: bold;
}

table.plants tfoot tr td {
	color: black;
	font-weight: bold;
}

table.plants td.total {
	text-align: right;
}