<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<!-- Required meta tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" rel="stylesheet" />

		<link href="../static/css/addresses.css" th:href="@{/css/addresses.css}" rel="stylesheet" />

		<link rel="icon" type="image/jpg" href="../static/images/logo.jpg" th:href="@{/images/logo.jpg}" />

		<title th:text="${appName}">Bedding Plants</title>
	</head>
	<body>
		<div id="map"></div>
		<script th:inline="javascript">
		  var map;
		  function initMap() {
			var scoutHutLat = /*[[${scoutHutLat}]]*/ 53.48;
			var scoutHutLng = /*[[${scoutHutLng}]]*/ -2.14;
			var defaultZoom = /*[[${defaultZoom}]]*/ 15;
			var viewportMaxLat = /*[[${viewportMaxLat}]]*/ 54;
			var viewportMinLat = /*[[${viewportMinLat}]]*/ 53;
			var viewportMaxLng = /*[[${viewportMaxLng}]]*/ -3;
			var viewportMinLng = /*[[${viewportMinLng}]]*/ -2;
			
		    map = new google.maps.Map(document.getElementById('map'), {
		      center: {lat: scoutHutLat, lng: scoutHutLng},
		      zoom: defaultZoom
		    });
		  }
		</script>
		<script th:inline="javascript">
			var geolocatedAddresses = /*[[${geolocatedAddresses}]]*/ null;
		</script>
		<script th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + googleApiKey + '&callback=initMap'}}" async defer></script>
	</body>
</html>